	#nav_menu_wrapper .nav_menu { /* the menu itself */
		height:30px; /* fix bar's height */
		width:900px; /* fixed width */

		/* center this div */
		margin-left:auto;
		margin-right:auto;	
		
		/* add effect */
		background-color:#EEEEEE;
		border:#666666 solid 1px;
	}
	
	/*
	 * menu links and link effects
	 */
		#nav_menu_wrapper .nav_menu ul {
			margin-top:5px;
			list-style:none;
		}
		
		#nav_menu_wrapper .nav_menu li {
			display:inline;
		}
		
		#nav_menu_wrapper .nav_menu li a {
			padding-top:3px;
			padding-bottom:5px;
			padding-left:9px;			
			padding-right:9px;
		}
		
		#nav_menu_wrapper .nav_menu a:link, #nav_menu_wrapper .nav_menu a:visited {
			font-family:Verdana, Arial, Helvetica, sans-serif;
			font-size:12px;
			color:#333333;
			text-decoration:none;
			background-color:#EEEEEE;
		}

		#nav_menu_wrapper .nav_menu a:hover {
			font-family:Verdana, Arial, Helvetica, sans-serif;
			font-size:12px;
			color:#FFFFFF;
			text-decoration:none;
			background-color:#0099FF;
		}
